/*general*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*---------------------------------*/
/*header general*/
/*---------------------------------*/
h1,h2,h3{font-family: 'courgette';}
p{font-family: 'roboto';}
nav{background-color: white;}

.nav-icon1{
    /*tamano de los iconos/imagenes de la barra*/
    width: 30px;
    height: 30px;
  }
.text-login{
      font-family: 'courgette';
}

  .navbar-brand {
    /*tamano de letra,tipo de letra y separacion de los elementos de la barra*/
    font-size: 1.2rem;
    font-family: 'courgette';
    color:white;
  }
  .logo-menu{
    width: 60px;
  }
    .nav-item{
      /*separacion de los items que estan en la barra izquierda*/
      padding-left: 20px;
    }

    /*---------------------------------*/
    /*footer general*/
    /*---------------------------------*/
    footer{
        background-color:#E3F2FD;
        width: 100%;

    }
    .logo-footer{
        /*tamano de la imagen del footer*/
        width: 250px;
    }
    @media (max-width:600px){
      .logo-footer{
        width: 200px;
      }
    }
    .text-muted{
        font-family: 'courgette';
        font-size: 1rem;
    }
    h5{
            font-family: 'courgette';
            font-size: 2rem;
    }
    .footer-social{
      display: flex;
      justify-content: center;
      margin:5%;
    }

    /*------------------------------------
body del Home
/*----------------------------------------*/
body{
    background-image: url("../img/backgrounds/back12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0,
}
.cont-central{
    width: 100%;
    height: 600px;
    padding-left: 0;
    padding-right: 0;
  }

  .caja{
    width: 100%;
    display: flex;
    justify-content: center;
      margin-left: 100px;
    animation: caja 2s none;
  }
  @keyframes caja {
    0%,50%{
      opacity: 0;
      margin-top: 210px;
    }
  }

  #caja, .bienvenida{
    position: absolute;
    width: 450px;
    height: 350px;
    margin-top: 210px;
  }
.card-text{
   font-family: 'courgette';
}
.bienvenida p{
  margin-top: 10px;
  padding: 80px;
  font-family: 'courgette';
  font-size: 1.1rem;
  text-align: center;
  }

  .logoimg{
  position: absolute;
  width: 320px;
  margin-top: 90px;

  }
  .cont-secundario{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 25px;
  }
  /******************%****/
.imagen-bottom{
    width: 100%;
}

@media (max-width:600px){
	.banner{
		display:none;
    /*para que desaparesca en modo mobile*****************%****/
  }
}

@media (max-width:1800px){
	.banner{
		margin-bottom: 25px;
  }
}
 /*------------------------------------
body de historia
/*----------------------------------------*/
.cont-central-historia{
    height: 700px;
}
.logoimg-historia{
  position: absolute;
  width: 225px;
  margin-top: 95px;
  margin-left: -160px;
}
.mensaje-bienvenida{
  margin-left: 400px;
}

div .card-text-body{
  border-radius: 8rem;
}

#caja-historia, .bienvenida-historia{
  position: absolute;
  width: 470px;
  margin-top: 180px;
}

.bienvenida-historia{
padding: 65px;
font-family: 'courgette';
font-size: 0.95rem;
text-align: center;
}
.bienvenida-historia p{
font-family: 'courgette';
}
.img-id-historia{
  position: absolute;
  width: 80px;
  border-radius: 125px;
  margin-top: 570px;
}
/*-------------------------------------*/
/* productos*/

/*separacion de las primeras imagenes*/

.card {
  margin-top: 100px;
    position: relative;
    padding-top: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    height: 400px;
    word-wrap: break-word;
    overflow: hidden;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: 8rem;
    -webkit-box-shadow: -4px 5px 6px 1px rgba(0,0,0,0.36);
    -moz-box-shadow: -4px 5px 6px 1px rgba(0,0,0,0.36);
    box-shadow: -4px 5px 6px 1px rgba(0,0,0,0.36);
    animation: 1s prod none;
}

@keyframes prod {
  0%,50%{
    opacity: 0;
    margin-right: 210px;
  }
}

.card-title{
  padding-top: 100px;
}

@media (max-width:800px){
	.cont-gallery{
		display:none;
  }
  .cont-productos{
    margin-top: 100px;

  }
}
.col-md-4{
  padding-bottom: 10px;
  font-family: 'roboto', cursive;
  font-size: 1.2rem;
}
@media (max-width:800px){
  .col-md-4{
    padding-left: 50px;
    padding-right: 50px;
  }
  }

.btn{
  background-color: #ea8af8;
  border-color: pink;
  border-radius: 70px;
  font-weight: bold;
}

.img-prod{
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0.5;
}
.card-body{
  position: absolute;
}
/*Prductos>>>>Modal<<<<<*/
#caja-productos{
  margin-top: 100px;
}


.modal-de-compra{
  font-family: 'roboto', cursive;
  max-width: 60%;
  max-height: 80%;
  background-image: url('../img/productos/bgcajalogin.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  overflow: hidden;
}

.modal-de-compra .close{
  position: absolute;
  left: 94%;
  top: 3%;
}

.container1{
  width: 60%;
}
.container2{
  width:40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.modal-de-compra h3 {
  padding-top: 10%;
  text-align: center;
  margin:0px;
  font-size: 2.5em;
  font-weight:bold;
  width: 90%;
}
.modal-de-compra h4{
  margin-bottom: 10px;
  margin-top: 0%;
  font-size: 2.5em;
}

.modal-de-compra p{
  text-align: justify;
  width: 95%;

}
.modal-de-compra ul{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin:0;
}
.modal-de-compra img{
  height: 80%;
  width: 95%;
  left: 10px;
  bottom: 10px;
  border-radius: 10px;
}
/*.modal-de-compra button{
  align-items: flex-end;
  width: 90%;
  background-color: pink;
  border-color: pink;
  border-radius: 70px;
  height: 15%;
  font-weight: bold;
}*/
.modal-de-compra .contador{
  border: 2 px solid;
  padding: 3px;
  margin-top:10px;
  margin-bottom: 10px;
  background-color: transparent;
  border-radius: 5px;
}
.modal-de-compra span{
  margin:1px;
  text-align: justify;
}

/*faqs**********************************/

.content{
  margin-top: 50px;
  margin-left: 400px;
  padding-top: 100px;
  width: 800px;
  height: 850px;
  text-align: justify;
  animation: 2s textfaqs none;
}
@keyframes textfaqs {
  0%,10%{
    opacity: 0;
  }
}

.card-title1{
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'courgette';
  color: white;
}
.card-title1 h3{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: -10px;
  color: white;
}

article p{
  font-size: 1rem;
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'courgette';
  color: white;
}
#corta{
  padding-left: 30px;
  padding-right: 30px;
}
/*contactos**********************************/

.contenedor{
  margin-top: 120px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}
.logohistoria{
  width: 150px;
  justify-content: center;
}

.login{
  width:100%;
  max-width: 500px;
  margin: 0 auto;
  border: 3px solid #e1e1e1;
  border-radius: 30px;
  padding: 17px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url('../img/productos/bgcajalogin.jpg');
  margin-left: 500px;
  animation: 1s login none;
}

@keyframes login {
  0%,50%{
    opacity: 0;
    margin-left: 200px;
  }
}
.campo{
  width: 80%;
  margin: 0 auto;
  font-family: 'courgette';

}

h2{
  font-family: 'courgette';
  font-weight: bold;
  text-align: center;
}

.login-campos{
  width: 100%;
  border:1px solid pink;
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 40px;
  flex-direction: column;
  background-color: #87b7cb;
}

.cajatext{
  height: 400px;
  width: 100%;
  margin-bottom: 25px;
}

input::placeholder{
  font-family: 'courgette';
  font-size: 1.2em;
  text-align: center;
  color: black;
}

.texto{
  font-size: 1.2rem;
  font-family: 'courgette';
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;

}

.reg-exi{
    font-family: 'courgette';
    margin-top: 50px;
    margin-left: 400px;
    padding-top: 100px;
    width: 800px;
    height: 850px;
    text-align: justify;
    animation: 2s textfaqs none;
  }
}
